<h4>Internal server error - refreshing the page will make the error disappear!</h4>
<ng-container *ngIf="error">
<h5 class="text-danger">Error:{{error.message}}</h5>
<p class="font-weight-bold">Note: If you arw seeing this then angular is probaly not to blame</p>
<p>What to do next?</p>
<ol>
    <li>Open the chrome dev tools</li>
    <li>Inspect the network tab</li>
    <li>Chake the failing request</li>
    <li>Examine the request URL - make sure itis correct</li>
    <li>Chake in Postman - if we see the the same response, then the issue is not with Angular</li>
</ol>
<p>following is the stack trace - this is where your investigation should start!</p>
<code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>