<!-- זו קומפוננטת הספינר, היא מוצגת רק כשמחכים לתשובה מהשרת ngx-spinner -->
<ngx-spinner>
    <br>
    <h3>Loading...</h3>
</ngx-spinner>


<app-nav></app-nav>
<div class="container" style="margin-top: 100px;">
    <router-outlet></router-outlet>
</div>