<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">Dating App</a>
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <ng-container *ngIf="accountService.currentUser$ |async">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="/members"
                            routerLinkActive="active">Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="/lists">Lists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="/messages">Messages</a>
                    </li>
                </ng-container>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/errors">Errors</a>
                </li>
            </ul>

            <div class="dropdown" *ngIf="(accountService.currentUser$ |async) as user" dropdown>
                <img src="{{user.mainPhotoUrl || './assets/user.png'}}" alt="{{user.username}}">
                <!-- <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{(accountService.currentUser$|async).username}}</a> -->
                <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username |titlecase}}</a>
                <div class="dropdown-menu mt-3" *dropdownMenu>
                    <a routerLink="/member/edit" class="dropdown-item">Edit Profile</a>
                    <div class="dropdown-divider "></div>
                    <a class="dropdown-item" (click)="logout()">Logout</a>

                </div>

            </div>
            <form #loginForm="ngForm" class="d-flex" (ngSubmit)="login()"
                *ngIf="(accountService.currentUser$ |async)===null" autocomplete="off">
                <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="search"
                    placeholder="Username">
                <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
                    placeholder="Password">
                <button class="btn btn-success" type="submit">Login</button>
            </form>
        </div>
    </div>
</nav>